#visi {
  margin-top: 50px;
}
.visimisi {
  width: 68%;
  margin: 0 auto;
  background-color: #ffffff !important;
  border-radius: 10px;
  margin-top: 70px;
  margin-bottom: 100px;
}
.visimisi h1,
.visimisi p {
  text-align: justify;
  padding-left: 15px;
  padding-right: 15px;
}
.visimisi h1 {
  margin-top: 0px;
}
.visimisi p {
  font-size: 15px;
}
.center {
  padding: 20px 0;
  text-align: center;
}
#misi ol {
  margin-top: 0px;
  padding-left: 15px !important;
  padding-right: 0px;
}
.visimisi h1 {
  font-weight: bold;
}
@media (max-width: 700px) {
  .visimisi h1 {
    font-size: 16px;
  }
  .visimisi p {
    font-size: 11px !important;
  }
  .visimisi {
    width: 90%;
    margin-bottom: 30px;
  }
}
@media (max-width: 500px) {
  .visimisi h1,
  .visimisi p {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
  }
}
