#events {
    width: 100% !important;
    
}
.acara{
    width: 70%;
    margin: 0 auto;
    background-color: #FAFAFA !important;
    padding-top: 40px;
}
.title{
    background-color: #FAFAFA !important;
}
#event .cp{
    background-color: #FAFAFA !important;
}
#event h1{
    margin-top: 6px;
    text-align: left !important;
    font-weight: bold;    
}
#event h2{
    opacity: 60%;
    font-weight: bolder;
    font-size: 23px;
}
@media(max-width: 700px){
    #event h1{
        font-size: 16px;
    }
    #event h2{
        font-size: 13px;
    }
}
