@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
.line {
  width: 80%;
  color: grey;
}
.head1 {
  color: #bfb5b5;
  text-align: center;
  font-size: 40px;
  margin: 50px 0px 0px 0px;
  font-weight: bold;
  background-color: #f7f9f8;
  width: 100%;
}
.head {
  text-align: center;
  font-size: 80px;
  margin-top: 0px;
  font-weight: bold;
  background-color: #f7f9f8;
  width: 100%;
}
html {
  background-color: #f7f9f8;
  font-family: "Montserrat", sans-serif;
  text-decoration: none !important;
  font-family: monstreat;
}
.container {
  width: 100%;
  margin: 0px;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-decoration: none !important;
  background-color: #f7f9f8;
}

.card {
  width: 320px;
  height: 520px;
  background-color: white;
  margin: 140px 25px 25px 100px;
  text-decoration: none;
  border-radius: 3%;
}
.image {
  border-radius: 50%;
  border: 1px solid white;
  background-color: white;
  width: 80%;
  margin: 10%;
}
.Title {
  font-weight: bold;
  font-size: 23px;
  margin-left: 30px;
  text-decoration: none;
  background-color: white;
}
.text {
  margin: 5px;
  margin-left: 30px;
  color: #bfb5b5;
  font-size: 21px;
  background-color: white;
}

.button {
  margin-left: 30px;
}

.icon {
  width: 9%;
  margin: 25px;
  text-decoration: none !important;
}
.icon1 {
  background-color: white;
  text-decoration: none !important;
  height: 20%;
  border-radius: 10%;
}

.icon:hover {
  width: 9%;
  background-color: #f1f1f1;
  border-radius: 5px;
  transition: 0.2s;
  margin: 25px;
  text-decoration: none !important;
}
.link {
  text-decoration: none !important;
  color: none;
}
@media (max-width: 700px) {
  .container {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    width: 200px;
  }
  .icon {
    width: 20%;
    margin: 25px;
    text-decoration: none !important;
  }
  .icon1 {
    background-color: white;
    text-decoration: none !important;
    height: 20%;
    border-radius: 10%;
  }
  .head1 {
    color: #bfb5b5;
    text-align: center;
    font-size: 40px;
    margin: 100px 0px 0px 90px;
    font-weight: bold;
    background-color: #f7f9f8;
    width: 100%;
  }
  .head {
    text-align: center;
    font-size: 80px;
    margin: 0px 0px 0px 90px;
    font-weight: bold;
    background-color: #f7f9f8;
    width: 100%;
  }
}
