.head1 {
  color: #bfb5b5;
  text-align: center;
  font-size: 40px;
  margin: 50px 0px 0px 0px;
  font-weight: bold;
  background-color: #f7f9f8;
  width: 100%;
}
.head {
  text-align: center;
  font-size: 80px;
  margin-top: 0px;
  font-weight: bold;
  background-color: #f7f9f8;
  width: 100%;
}
