html {
  background-color: #f7f9f8;
}
p {
  display: flex;
  align-items: center;
  margin: 0 auto 12px auto;
}

a:hover {
  background-color: grey;
  border-radius: 8px;
  padding: 6px 2px;
  color: white;
  transition: 0.2s;
}
a {
  color: black;
  text-decoration: none;
  padding: 5px 2px;
  font-weight: bold;
}

.atas {
  margin: 1px;
  max-width: 1000px;
  padding: 0px;
  text-decoration: none;
}
.cont {
  width: 100%;
  margin: 30px auto;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  background-color: #f7f9f8;
}

.cont div {
  width: 900px;
  height: 450px;
  background-color: white;
  margin: 50px;
}

.nama {
  margin: 90% 10%;
  font-weight: bold;
}
