#topNav {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #fafafa;
  padding-top: 5px;
  padding-bottom: 5px;
}
#topNav a {
  text-decoration: none !important;
  font-weight: bold;
}

#topNav li {
  text-decoration: none !important;
  font-weight: bold;
  color: #212529;
}
#topNav a:hover {
  font-weight: bold;
  cursor: pointer;
}
.topNav {
  font-weight: bold !important;
  width: 100%;
  padding: 2px 15% 2px 15% !important;
  margin: 0 auto !important;
}

.nav-item {
  margin-left: 15px;
  margin-right: 15px;
}

.nav-item a {
  color: #212529;
}

.nav-item.active a {
  color: #f8961e !important;
}

@media (min-width: 768px) {
  .topNav {
    margin: 0px 8% auto;
  }
}
.topNav img {
  margin-left: 5px !important;
}
@media (max-width: 768px) {
  .nav-item a {
    font-weight: bold;
    margin: 5px;
    padding: 0px;
  }
  .topNav {
    width: 100%;
    padding: 2px 5% 2px 5% !important;
  }
  .nav-item {
    width: 100%;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
  }

  .nav-item a {
    color: #212529;
  }

  .nav-item.active a {
    color: #f8961e !important;
  }

  .NavLink {
    width: 500px;
  }
}
@media (min-width: 768px) {
  .topNav {
    margin: 0px 8% auto;
  }
}
.topNav img {
  margin-left: 5px !important;
}
@media (max-width: 418px) {
  .nav-item a {
    font-weight: bold;
    margin: 5px;
    padding: 0px;
  }
  .nav-item {
    width: 100%;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
