#topNav {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #fafafa;
}
#topNav a {
  margin-left: 20px;
  xtet-decoration: none !important;
  font-weight: bold;
}

#topNav li {
  text-decoration: none !important;
  font-weight: bold;
}
#topNav a:hover {
  font-weight: bold;
  cursor: pointer;
}
.topNav {
  font-weight: bold !important;
}
@media (min-width: 768px) {
  .topNav {
    margin: 0px 8% auto;
  }
}
.topNav img {
  margin-left: 5px !important;
}
@media (max-width: 768px) {
  .nav-item a {
    font-weight: bold;
    margin: 5px;
    padding: 0px;
  }
  .nav-item {
    width: 100%;
    margin-top: 20px;
  }
  .NavLink {
    width: 500px;
  }
}
@media (min-width: 768px) {
  .topNav {
    margin: 0px 8% auto;
  }
}
.topNav img {
  margin-left: 5px !important;
}
@media (max-width: 418px) {
  .nav-item a {
    font-weight: bold;
    margin: 5px;
    padding: 0px;
  }
  .nav-item {
    width: 100%;
    margin-top: 20px;
  }
  .NavLink {
    width: 350px;
  }
}
