#join .container-join{
    width: 100% !important;
}
*{
    font-family: 'Montserrat', sans-serif;
}
@media (min-width:768px){.container{width:750px}}
@media (min-width:992px){.container{width:970px}}
@media (min-width:1200px){.container{width:100%}}
.container-fluid{
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}

#join .container-join{
    background-color: #e5e5e5 !important;
}
#join button{
    margin: 0 auto;
}

.section-btn {
    background: #EF8354;
    border-radius: 5px;
    border: 0;
    color: #f9f9f9;
    font-size: inherit;
    font-weight: normal;
    padding: 10px 25px;
    transition: 0.5s 0.2s;
    margin-top: 40px;
    margin-left: 200px;
    
}
#join button{
    background:rgb(146, 146, 236);
    border-radius: 5px;
    border: 0;
    color: #f9f9f9;
    font-size: inherit;
    font-weight: normal;
    padding: 10px 25px;
    margin-top: 30px;
    width: 100%;
}
#join a{
    text-decoration: none;
}
#join h1,#join p,#join h2{
    text-align: center !important;
    margin-bottom: 2px;
    margin-top: 5px;
}
.mg-0{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#join .box{
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom : 40px;
}
#join .boxfit{
    width: 17%;
    margin: 0 auto;
}
.join {
    padding: 70px 0;
    text-align: center;
}
@media(max-width: 1062px){
    #join .boxfit{
        width: 30%;
    }
}
#join h1{
    font-weight: bold;
}
@media(max-width: 768px){
    #join h1{
        font-size: 30px !important;
    }
    #join p{
        font-size: 12px !important;
    }
}
@media(max-width: 608px){
    #join h1{
        font-size: 25px !important;
    }
    #join p{
        font-size: 10px !important;
    }
    .boxfit a{
        font-size: 11px !important;
    }
    .boxfit{
        width: 40% !important;
    }
}
#join button:hover{
    cursor: pointer;
    background-color:rgb(117, 117, 224) ;
}