.bgwhite {
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.box{
    width: 150%;
    padding-right: 10px;
}
@media(min-width:700px)
{
    .box{
        width: 73%;
    }
}

@media(max-width:700px)
{
    .bgwhite {
        min-width: 130px;
        
    }
}