.bgwhite {
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.box{
    width: 105%;
    padding-left: 15px;
    padding-right: 15px;
}
@media(min-width:700px)
{
    .box{
        width: 73%;
    }
}

@media(max-width:700px)
{
    .bgwhite {
        max-width: 200px;
    }
}